{{!
    This file is part of Moodle - http://moodle.org/

}}
{{!
    @template theme_aviv2018/course

    Course template. It's a copy of columns2, with addition of sourse summary at top

    Aviv2018 2 column layout template.

}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}"/>
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_aviv2018/header}}

    <div id="page" class="container-fluid">
        {{! Lea 2017 - Add header image only in inner pages. In homepage the image is shown differently}}
        {{{ output.headerimage }}}

        <div id="learningcontent">

            {{{ output.teacherdash }}}

            {{{ output.full_header }}}

            <div id="page-content" class="row">
                <div id="region-main-box" class="col-xs-12">
                    {{#hasregionmainsettingsmenu}}
                        <div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
                            <div> {{{ output.region_main_settings_menu }}} </div>
                        </div>
                    {{/hasregionmainsettingsmenu}}
                    <section id="region-main" {{#hasbsideprelocks}}class="has-blocks"{{/hasbsideprelocks}}>

                        {{{ output.course_content_header }}}

                        {{#hascourseabout}}
                            <div class="row course-about">
                                <h3 class="card-title">{{#str}}about_course, theme_aviv2018{{/str}}</h3>
                                {{#coursematadatasection}}
                                    <div class="col-lg-6 course-metadata">
                                        {{{ coursematadatasection }}}
                                    </div>
                                {{/coursematadatasection}}
                                {{#coursesummarysection}}
                                    <div class="col-lg-6 course-summary">
                                        {{{ coursesummarysection }}}
                                    </div>
                                {{/coursesummarysection}}
                            </div>
                        {{/hascourseabout}}

                        {{{ output.main_content }}}

                        {{#hasbelowcontentblocks}}
                            <section data-region="blocks-section" class="hidden-print">
                                {{{ belowcontentblocks }}}
                            </section>
                        {{/hasbelowcontentblocks}}
                        {{{ output.course_content_footer }}}
                    </section>
                    {{#hasbsideprelocks}}
                        <section data-region="blocks-column" class="hidden-print">
                            {{{ sidepreblocks }}}
                        </section>
                    {{/hasbsideprelocks}}
                </div>
            </div>
        </div>
    </div>
    {{> theme_boost/nav-drawer }}
</div>

{{>theme_aviv2018/footer}}


</body>
</html>
{{#js}}
    require(['theme_boost/loader']);
    require(['theme_boost/drawer'], function(mod) {
    mod.init();
    });
{{/js}}
