<div class="statistics">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <div class="statistics-tile">
                    <h3 class="card-title">{{{statisticstitle}}}</h3>
                    <dl>
                        <dt>{{{statisticscourses}}}</dt>
                        <dd>{{{coursecount}}}</dd>
                        <dt>{{{statisticsteachers}}}</dt>
                        <dd>{{{teachercount}}}</dd>
                        <dt>{{{statisticsstudents}}}</dt>
                        <dd>{{{studentcount}}}</dd>
                    </dl>
                </div>
            </div>

        </div>
    </div>
</div>
<div style="clear:both;"></div>
