.pagelayout-login {
  font-weight: bold;
  #page-wrapper {
    background-image: url([[pix:theme|headerbg]]);
    background-position: center;
    background-size: cover;

    #region-main{
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 10rem;
    }
  }
  // had to do it this way because of the hierarchy and the important
  #page.container-fluid {
    padding: 0 !important;
  }

  .row {
    margin: 0;
    .card {
      background-color: $transparent;
      border: 0;
      .card-title {
        border-bottom: 0;
        h2 {
          font-size: 3rem;
        }
      }
      .card-block {
        border: inherit;

        input[type="text"],
        input[type="password"],
        textarea {
          margin-bottom: 1.5rem;
          border: 0;
        }

        .col-md-5 {
          text-align: center;
          .m-t-1 {
            font-weight: 600;
            .icon{
              color: $buttons-secondary !important;
            }
          }
          .m-t-2 {
            margin-top: 0 !important;
            font-weight: 600;
            form .btn-secondary {
              margin: 0;
              display: inline-block;
            }
          }
        }
        /*login button*/
        .btn-primary,
        .btn-secondary {
          width: auto;
          padding: 1rem 2.5rem;
          /*rtl:begin:ignore*/
          margin-right: 4rem;
          /*rtl:end:ignore*/
          border-radius: 0;
          border: 0;
          background-color: $button-all;
          text-decoration: underline;
          font-weight: 600;
          font-size: $font-size-base;
        }
        .btn-secondary {
          background-color: $buttons-secondary;
          color: $primary-text-color;
          margin-top: 3rem;
        }
      }
    }

  }
  .login-wrapper {
    margin: 0;
    margin-top: 5%;
    padding-bottom: 14rem;
    background-color: rgba($login-background, .8);
  }

  #page-footer {
    margin-top: 0;
  }
}


