/* STATISTICS */
.statistics {
  text-align: center;
  .statistics-title,
  .statisticsterm{
    font-weight: 400;
    font-size: $font-size-title;
  }

  [class*="num"] {
    text-align: center;
  }
  .statisticsdefinition {
    font-weight: 800;
    font-size: 7.5rem;
    color: $dark-purple;
    margin: 0;
  }
  .btn-secondary{
    margin-top: 5rem;
  }
}
