// Set image location.

$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;
$enable-flex: true;
/* $gray-base has to be defined before call to fordon's moodle because it's user there: border: 1px solid $gray-base;
It would be better of we could import fordson's theme/fordson/scss/preset/default.scss but for some reason that doesn't work */
$gray-base: #464646;
@import "../../fordson/scss/moodle";



/* To prevent the auto flip for rtl:
https://github.com/moodlehq/rtlcss-php#do-not-flip-values */
//Prepend with /*rtl:remove*/, wrap within /*rtl:begin:ignore*/ and /*rtl:end:ignore*/.


// Aviv2018 styles
@import "bootstrap";
@import "variables";
@import "mixins";
@import "styles";





